/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  :root {
    --accent-color: #FF0070;
    --content-color: #F1B2CE;
    --header-color: #DB00FF;
    --frame-color: #FF0070;
    --main-color: #000028;
    --background: url(../images/cover-image-dark.png) center/cover no-repeat fixed;
    --font-main: "IBM Plex mono", monospace;
    --accent-text: #000028;
    --gap-main: 0.625rem;
    --rec: flex;
  }

}
.colored {
  background-color: var(--accent-color);
}

/*HEADER*/

.header {
  font-family: var(--font-main);
  background: var(--background);
  font-size: 1.125rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: .625rem;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main);
  text-transform: lowercase;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--accent-color);
  padding: .094rem .8125rem .25rem;
  line-height: 1.125rem;
  background: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color: currentColor;
}

.header__title {
  font-size: clamp(7.25rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  
}

.header__text {
  color: var(--main-color);
  font-weight: bold;
  line-height: 1.4625rem;
}

.header__rec {
  position: absolute;
  display: var(--rec);
  align-items: center;
  gap: var(--gap-main);
  right: 19px;
  top: 10px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__rec::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  width: 1.565rem;
  height: 1.565rem;
  position: absolute;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--frame-color);
  bottom: 0.625rem;
  left: 0.625rem;
}

.decorated-zone::after {
  content: '';
  width: 1.565rem;
  height: 1.565rem;
  position: absolute;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: var(--frame-color);
  top: 0.625rem;
  right: 0.625rem;
}


/*BLOCK_1*/

.block__why {
  font-family: var(--font-main);
  background: var(--background);
  padding: 2.5rem 0.625rem 0;
}

.block__header, .block__title, .block__description {
  font-family: var(--font-main);
  font-size: 1.125rem;
  line-height: 1.4625rem;
}

.block__header {
  font-weight: bold;
  color: var(--accent-color);
}

.block__title {
  color: var(--main-color);
  background-color: var(--accent-color);
  margin: 1.25rem 0 0.625rem;
}

.block__description {
  color: var(--content-color);
}



@media (width >= 768px) {
  .header {
    padding: 1.25rem;
    padding-left: 0;
  }

  .header__text {
    justify-self: end;
    width: calc(50vw - 1.25rem);
  }

  .decorated-zone::before {
    bottom: 1.25rem;
    left: 1.25rem;
  }

  .decorated-zone::after {
    top: 1.25rem;
    right: 1.25rem;
  }

  .header__rec {
    right: 29px;
    top: 20px;
  }

  .block__why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.25rem;
    padding: 3.75rem 1.25rem 0;
  }

  .block__content {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  
  .block__title:nth-of-type(1) {
    margin: 0 0 0.625rem;

  }

  

}










  @media (width >= 1024px) {

    .header {
      padding: 0;
    }

    .header__theme-menu {
      align-self: start;
      justify-self: center;
      margin-top: 1.25rem;
    }

    .header__theme-menu-list {
      flex-direction: row;
    }

    .header__text {
      margin-right: 1.25rem;
      margin-bottom: 1.25rem;
    }



    .block__why {
      
      
    }









  }


