/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --content-color: #f1b2ce;
  --header-color: #db00ff;
  --frame-color: #ff0070;
  --main-color: #000028;
  --bg-color: #000028;
  --font-main: "IBM Plex mono", monospace;
  --accent-text: #000028;
  --rec: flex;
}
